/*NOTE TO GRADER there is a second css file for the sample.html located under the docs folder */
body {
    background-color:bisque /* add color to the background*/
}

h1{
    color:rgb(85, 14, 4);
}

h2{
    color:hsl(4, 65%, 22%);
}

h3{
    color: #422600;
}
body {
    font-family: 'Roboto', sans-serif;
  }

.box1{
    background-color: white;
    padding: 1cm;
    border: 2mm solid rgb(85, 14, 4);
    margin: auto;
    height:100%;
    width:1000px;
}

.box2{
    background-color: white;
    padding-top: 1cm;
    padding-left: 1cm;
    padding-bottom: 1cm;
    padding-right: 1cm;
    border: 2mm solid rgb(85, 14, 4);
    margin: 20px 750px;
    height:100%;
    width:1000px;
    position:relative;
    right:50px;
}

section.box3{
    background-color: white;
    padding: 1.5cm 1cm;
    border: 2mm solid rgb(85, 14, 4);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 750px;
    margin-left: 750px;
    height:100%;
    max-width:1000px;
    min-width: 900px;
}

.display1{
    display: none;
}
#display3{
    display: inline-block;
}
.display2{
    display:inline;
}

.position1{
    position:fixed;
    background-color: white;
}
a:hover{
    color:red;
}
a:active{
    color:royalblue;
}

/*
section{
    border: 10px solid gray;
    height: 90vh
}
*/
ul li{
    background-color: bisque;
}

ol > li{
    background-color: bisque;
}
@media all and (max-width:900px){
    body {
        background:skyblue;
        border: solid black;
    }

}
