*{
    color: rgb(85, 14, 4);
}
body {
    background-color:bisque /* add color to the background*/
}

h1, h2, h3{
    color:rgb(255, 34, 5);
}

body {
    font-family: 'Roboto', sans-serif;
  }



.flexbox{
    display: flex;
    background-color: white;
    flex-direction: row-reverse;
    justify-content: center;
}

.flexitem{
    order: -1;
}
.flexitem2{
    flex-grow: 2;
}

.grid{
    display:grid;
    grid-template-columns: 700px auto 700px ;
    grid-template-rows:300px;
    justify-items: center;
}

section.display1 ~ section{
    border: 3px solid rgb(85, 14, 4);
}

section.redBorder{
    border: 3px solid rgb(85, 14, 4);
}

section.redBorder + section{
    border: 3px solid rgb(85, 14, 4);
}

[whitebackground="true"]{
    background-color: white;
}